
.main-color {
    background-color: rgb(62 ,62, 179) ;
    --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("./../img/books.jpg");
    opacity: var(--mainOpacity);
    height: 25em !important;
}

.card img{
    width:130px;
    height: auto;
}

#pagination{
    cursor: pointer;
}


.homepage-carousel-title {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }



